## Exercise 8 - Delta and Author Attribution

#####  Group: Jennifer Swaminathan,   Vedasri Nakka

### Question 1: Federalist Paper

In [32]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

import re

In [2]:
df = pd.read_csv('corpus/federalist-papersNew2.csv', index_col=0)

In [3]:
fed = disputed_essays = df[df['AUTHOR'] == 'Hamilton OR Madison'].index
assert len(disputed_essays) == 12  # there are twelve disputed essays
# numbers widely used to identify the essays
assert set(disputed_essays) == {49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63}

In [4]:
fed = df_known = df.loc[df['AUTHOR'].isin(('Hamilton', 'Madison'))]
print(df_known['AUTHOR'].value_counts())
#fed.value_counts(ascending=False).tail(50)
fed
df_known=df_known.drop('AUTHOR',axis=1)
df_known

Hamilton    51
Madison     14
Name: AUTHOR, dtype: int64

,000,1,10,100,104,105,109,11,114,115,...,you,young,your,yourself,yourselves,zaleucus,zeal,zealand,zealous,zelden
1,0,2,0,0,0,0,0,0,0,0,...,7,0,10,0,0,0,3,0,0,0
6,0,2,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
85,0,2,0,0,0,0,0,0,0,0,...,2,0,4,0,0,0,1,0,2,0

In [5]:
dict_list=df_known.sum(axis=0)
print((dict_list.tail(100)))

within        81
without      164
withstand      5
witness        2
witnessed      0
            ...
zaleucus       1
zeal          21
zealand        0
zealous        8
zelden         0
Length: 100, dtype: int64

### Most Common words

In [6]:
def df2ranking(df,  cutoff=20):
        df = df.sort_values( ascending=False)
        df = df.reset_index()
        return df[:cutoff] 


most_common_words=(df2ranking(dict_list,10))

features=list(most_common_words['index'])
len(features)

10

In [7]:
feat_df=df_known[features]
feat_df.head()

   the   of  to  and  in   a  be  that  it  is
1  133  106  72   40  27  25  34    28  20  13
6  168  154  58   74  55  47  18    22  11   8
7  208  158  82   51  43  48  47    27  17  14
8  158  135  80   54  42  46  35    18  20  21
9  170  155  71   45  37  47  26    25  24  16

### Relative Frequency

In [24]:
pd.options.mode.chained_assignment = None 

def relative_freq(df):
    normal=df
    features=df.columns
    for x in range(len(df)):        
        normal.iloc[x]=((df.iloc[x])/(df.iloc[x].sum()))          
    return normal
normal=(relative_freq(feat_df))
normal.head()

,the,of,to,and,in,a,be,that,it,is,...,court,foreign,course,over,objects,form,both,political,interests,jurisdiction
1,0.130392,0.103922,0.070588,0.039216,0.026471,0.024510,0.033333,0.027451,0.019608,0.012745,...,0.000980,0.000980,0.001961,0.000980,0.000980,0.000000,0.000000,0.002941,0.001961,0.000000
6,0.144206,0.132189,0.049785,0.063519,0.047210,0.040343,0.015451,0.018884,0.009442,0.006867,...,0.000858,0.001717,0.001717,0.001717,0.000858,0.000858,0.000858,0.000858,0.001717,0.000000
7,0.146479,0.111268,0.057746,0.035915,0.030282,0.033803,0.033099,0.019014,0.011972,0.009859,...,0.001408,0.002113,0.000000,0.000704,0.000000,0.000704,0.000000,0.000000,0.000704,0.000704
8,0.128039,0.109400,0.064830,0.043760,0.034036,0.037277,0.028363,0.014587,0.016207,0.017018,...,0.000000,0.000810,0.001621,0.002431,0.000000,0.000000,0.000000,0.000810,0.000000,0.000000
9,0.136766,0.124698,0.057120,0.036203,0.029767,0.037812,0.020917,0.020113,0.019308,0.012872,...,0.000000,0.000000,0.000805,0.001609,0.001609,0.002414,0.000000,0.000000,0.000000,0.000000

In [9]:
disputed_essays = df[df['AUTHOR'] == 'Hamilton OR Madison']
disputed_essays.head()

,000,1,10,100,104,105,109,11,114,115,...,young,your,yourself,yourselves,zaleucus,zeal,zealand,zealous,zelden,AUTHOR
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton OR Madison
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton OR Madison
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hamilton OR Madison
52,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Hamilton OR Madison
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Hamilton OR Madison

### Mean and Standard Deviation

In [10]:
Mean_the=normal['the'].mean()
Mean_the=normal['the'].std()

In [11]:
def mean_std_fn(df):
    features=df.columns
    feature_mean_std={}
    for feature in features:
        feature_mean_std[feature]={}
        feature_mean_std[feature]['Mean']=df[feature].mean()
        feature_mean_std[feature]['Std']=df[feature].std()
      
    return feature_mean_std
mean_std=mean_std_fn(normal)
mean_std_df=pd.DataFrame(mean_std)
mean_std_df

,the,of,to,and,in,a,be,that,it,is
Mean,0.288370,0.194588,0.119476,0.077418,0.071985,0.065635,0.062724,0.045195,0.040276,0.034332
Std,0.027996,0.020520,0.019467,0.017084,0.014354,0.014636,0.014431,0.010912,0.009987,0.011493

### Authors profile : Madison and Hamilton

In [12]:
group=fed.groupby('AUTHOR')
grouped=group.sum()
absolute_feature_group=grouped[features]
absolute_feature_group.index

Index(['Hamilton', 'Madison'], dtype='object', name='AUTHOR')

In [27]:
length_Hamilton= absolute_feature_group.sum(axis=1)['Hamilton']
print("length_Hamilton: {:.2f}".format(length_Hamilton))
length_Madison= absolute_feature_group.sum(axis=1)['Madison']
print("length_Madison",length_Madison)

length_Hamilton: 1.00
length_Madison 1.0000000000000002

### Relative frequency

In [28]:

def relative_freq_profile(df):
    relative_author=df
    features=df.columns
    authors=absolute_feature_group.index
    for author in authors:
        relative_author.loc[author]=((df.loc[author])/absolute_feature_group.sum(axis=1)[author])
          
    return relative_author
relative_author=(relative_freq_profile(absolute_feature_group))
relative_author.head()

,the,of,to,and,in,a,be,that,it,is,...,court,foreign,course,over,objects,form,both,political,interests,jurisdiction
AUTHOR,,,,,,,,,,,,,,,,,,,,,
Hamilton,0.141977,0.099495,0.062375,0.036766,0.038372,0.033963,0.031446,0.023323,0.020996,0.018043,...,0.001293,0.000912,0.001129,0.000884,0.000993,0.000721,0.000803,0.000966,0.000939,0.001129
Madison,0.153146,0.091597,0.049466,0.045661,0.031696,0.030127,0.029578,0.021262,0.019496,0.018869,...,0.000314,0.001412,0.000745,0.001451,0.001138,0.001883,0.001648,0.001177,0.001177,0.000588

In [15]:
relative_author.loc['Hamilton']['the']

0.28016755276300953

### Z-score

In [16]:
def feature_zscore_fn(relative_author_df,mstd_df):
    feature_zscores = {}
    authors=['Hamilton','Madison']
    features=relative_author_df.columns
    for author in authors:
        feature_zscores[author] = {}
        for feature in features:

        # Z-score definition = (rtf - mean) / stddev
       
            feature_rel_val = relative_author_df.loc[author][feature]
            feature_mean = mstd_df[feature]['Mean']
            feature_stdev =mstd_df[feature]['Std']
            feature_zscores[author][feature] = ((feature_rel_val-feature_mean) /feature_stdev)
    return feature_zscores

feature_zscore= feature_zscore_fn(relative_author,mean_std_df)
zscore_df=pd.DataFrame(feature_zscore)
zscore_df
#relative_author_df

      Hamilton   Madison
the  -0.292992  0.842992
of    0.085257 -0.389728
to    0.185465 -0.961101
and  -0.284784  0.912994
in    0.260261 -0.516748
a     0.094690 -0.291341
be   -0.046439 -0.171248
that  0.075873 -0.172651
it    0.115769 -0.056071
is    0.110719  0.357118

### Check disputed papers

In [17]:
check_essays=disputed_essays[features]

#### find relative frequency and Z-score

In [29]:
def relative_freq_check(df):
    rel_frequency_essay=df
    features=df.columns
    for x in range(len(df)):        
        rel_frequency_essay.iloc[x]=((df.iloc[x])/(df.iloc[x].sum()))          
    return rel_frequency_essay

rel_freq=(relative_freq_check(check_essays))
rel_freq

,the,of,to,and,in,a,be,that,it,is,...,court,foreign,course,over,objects,form,both,political,interests,jurisdiction
49,0.163753,0.092916,0.053358,0.038638,0.031279,0.030359,0.043238,0.019319,0.023919,0.016559,...,0,0.000000,0.000000,0.000000,0.000920,0.000000,0.000000,0.000920,0.000000,0
50,0.144907,0.086083,0.040172,0.047346,0.040172,0.020086,0.044476,0.017217,0.022956,0.008608,...,0,0.000000,0.000000,0.001435,0.001435,0.000000,0.000000,0.000000,0.000000,0
51,0.157812,0.088281,0.039062,0.031250,0.039062,0.035937,0.049219,0.019531,0.025000,0.015625,...,0,0.000000,0.000000,0.001563,0.000000,0.001563,0.001563,0.000000,0.005469,0
52,0.153592,0.083402,0.059455,0.030553,0.027250,0.028902,0.037985,0.024773,0.026424,0.015690,...,0,0.000000,0.000000,0.002477,0.000000,0.000000,0.000826,0.000826,0.000000,0
53,0.136782,0.090716,0.051736,0.043940,0.031892,0.034018,0.036145,0.017009,0.012757,0.019844,...,0,0.002126,0.002126,0.000000,0.003544,0.002126,0.002126,0.000709,0.000000,0
54,0.152012,0.087183,0.045455,0.028316,0.048435,0.026080,0.029806,0.020864,0.020119,0.026080,...,0,0.000000,0.000000,0.002235,0.001490,0.000000,0.001490,0.000000,0.001490,0
55,0.138403,0.092776,0.059316,0.036502,0.022814,0.036502,0.038783,0.024335,0.012928,0.019011,...,0,0.002281,0.000760,0.001521,0.000000,0.001521,0.000760,0.003042,0.000760,0
56,0.130476,0.106667,0.037143,0.050476,0.029524,0.045714,0.034286,0.017143,0.019048,0.009524,...,0,0.000000,0.000952,0.000000,0.005714,0.000000,0.001905,0.001905,0.009524,0
57,0.151261,0.105742,0.051821,0.037815,0.028011,0.025910,0.030112,0.021709,0.018207,0.023810,...,0,0.000700,0.000000,0.000000,0.000700,0.002101,0.000700,0.000700,0.000700,0
58,0.154684,0.084967,0.044299,0.034132,0.042121,0.037037,0.037763,0.023965,0.017429,0.012346,...,0,0.000000,0.000000,0.003631,0.000726,0.000000,0.000726,0.000000,0.000726,0
62,0.124919,0.094340,0.053351,0.044893,0.032531,0.048796,0.039688,0.022772,0.020169,0.024073,...,0,0.001952,0.000000,0.001301,0.001301,0.001301,0.001952,0.001952,0.001301,0
63,0.148414,0.090072,0.045036,0.034800,0.034800,0.029683,0.030706,0.025589,0.020471,0.018424,...,0,0.001535,0.000000,0.002047,0.002047,0.001024,0.000000,0.000512,0.000512,0

In [19]:
def test_zscore_fn(rel_freq_df,m_std_df):
    feature_zscores_test = {}
    #authors=['Hamilton','Madison']
    papers=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63]
    features=rel_freq_df.columns
  #  print(m_std_df)
    for paper in papers:
        feature_zscores_test[paper] = {}
        for feature in features:

        # Z-score definition = (rtf - mean) / stddev
       
            feature_rel_val = rel_freq_df.loc[paper][feature]
            feature_mean = m_std_df[feature]['Mean']
            feature_stdev =m_std_df[feature]['Std']
            feature_zscores_test[paper][feature] = ((feature_rel_val-feature_mean) /feature_stdev)
    
        
        
    return feature_zscores_test

feature_zscores_test=test_zscore_fn(rel_freq,mean_std_df)

zscore_test_df=pd.DataFrame(feature_zscores_test)
zscore_test_df.index

Index(['the', 'of', 'to', 'and', 'in', 'a', 'be', 'that', 'it', 'is'], dtype='object')

### Finding delta

In [20]:
import math

def manhattan_delta(z_test_df,z_df):
    papers=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63]
    authors=['Hamilton','Madison']
    Y_pred=[]
    features=z_df.index
   # print('in delta')
    #print(z_test_df)
    for paper in papers:
    #feature_zscores_test[paper] = {}
       # print(paper)
        deltas=[]
        for author in authors:
            delta = 0
            for feature in features:
                delta += math.fabs((z_test_df[paper][feature] - z_df[author][feature]))
               # print(delta)
            delta /= len(features)
            #print( "Delta score for ", author, "is", delta)
            deltas.append(delta)
        Y_pred.append(np.argmin(deltas))
    return Y_pred

final_delta= manhattan_delta(zscore_test_df,zscore_df)
print(final_delta)

papers=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63]
for x in range(len(papers)):
    if (final_delta[x]==0):
        print('Paper ',papers[x], ' is mispredicted')

[1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1]
Paper  52  is mispredicted
Paper  55  is mispredicted
Paper  58  is mispredicted

For m=10:

From the above Delta score we can observe that for the papers #52 #55 #58 , the Delta scores are higher for Madison compared to Hamilton, thus suggesting Hamilton wrote the disputed papers.

### Algorithm used for Delta Model:

1. Find the most common word from the dataset containing Madison and Hamilton papers
2. Find frequency distribution for each paper for the m words
3. Calculate the relative frequency
4. Find the mean and Standard deviation from the relative frequency.
5. Find absolute distribution for each author for the m words and then the relative frequency
6. Calculate the Z-Score for authore 
            Z score(wij ) = (rtfij - µi) /(Std dev i)
7. For the disputed papers, find the relative frequency distribution for the m words
8. Calculate the Z score between the disputed paper and the mean of the authors
9. Calculate Delta between the zscores of the disputed paper and Zscore of each author and calculate the difference
10. The value of delta which is lower means, that is the author as the difference is minimal.

In [30]:
dict_list=df_known.sum(axis=0)
most_common_words=(df2ranking(dict_list,176))
features=list(most_common_words['index'])
print(len(features))
feat_d=df_known[features]
feat_df=pd.DataFrame(feat_d)

normal=relative_freq(feat_df)
mean_std=mean_std_fn(normal)
mean_std_df=pd.DataFrame(mean_std)
group=fed.groupby('AUTHOR')
grouped=group.sum()
absolute_feature_group=grouped[features]

relative_author=(relative_freq_profile(absolute_feature_group))

feature_zscore= feature_zscore_fn(relative_author,mean_std_df)
zscore_df=pd.DataFrame(feature_zscore)
#Test the disputted papers
check_essays=disputed_essays[features]
rel_freq=(relative_freq_check(check_essays))
feature_zscores_test=test_zscore_fn(rel_freq,mean_std_df)

zscore_test_df=pd.DataFrame(feature_zscores_test)
final_delta= manhattan_delta(zscore_test_df,zscore_df)
#final_delta= manhattan_delta_weighted(zscore_test_df,zscore_df)

print(final_delta)
papers=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63]
for x in range(len(papers)):
    if (final_delta[x]==0):
        print('Paper ',papers[x], ' is mispredicted')

176
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted

10
[1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1]
Paper  52  is mispredicted
Paper  55  is mispredicted
Paper  58  is mispredicted

30
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted

40
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted


50
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted

100
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted

150
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]

Paper  55  is mispredicted

165
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted

175
[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
Paper  55  is mispredicted

177
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

200
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

500
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

#### What is the importance of the choice of the (hyper) parameter m?

m- The most common word used in the, helps in determining the style of the Author. Since not all authors have the same style. By comparing common words in a paper, we are able to predict a paper using Delta model.

#### Which value of m is the most appropriate and why?

From the above tests, we observe that with m=177, we are able to predict all the papers. Hence m=177 is the most appropriate value.
Using higher m values increases the time complexity.


#### Do you see a short number of more problematic papers (in the test set) for this Delta model?
Yes 55 seems to be a tough paper to predict.

### Q2. Apply the Delta model to the Twitter case (author profiling) to identify the author gender

In [33]:
aListOfTweets = []
myInputFile = open('./corpus/tweets.female.txt', 'r', encoding="utf8")
aLine = myInputFile.readline()
IDs=[]
while aLine:
    myLine = aLine.split('\t')
    IDs.append(myLine[0])
    
    aFinalLine = ''
    for aSubLine in myLine[3:]:
        aSubLine = re.sub('\n', '', aSubLine)
        aFinalLine += aSubLine + ' '
    aListOfTweets.append(aFinalLine)
    aLine = myInputFile.readline()

print(aListOfTweets[0], IDs[1])

alex is too nice for love island :(   0

### Question 3.
The Delta model is based on a (weighted) Manhattan distance. But 
considering small differences between some features is not so important. One can consider those small differences as not really important. On the other hand, we must take (only?) account of large differences or give to them a larger weight. How could you propose to 
change the distance computation inside the Delta model to take account 
of those comments? 
Can you improve the accuracy with this modification

For the Federalist Paper:

For the Delta model with manhattan distance calculation between the Zscores, all the differences are treated equally. Now by using weighted distance calculation, we try to improve the prediction by utilizing less m. 

Instead of 177 most common word, we can improve the accuracy with 166 words.

Delta calculation used:
        delta= abs(ZScore_test - Zscore_author)
        if delta<.1 --> then we multiply by .5 to reduce its importance
        if delta between (.1 to .2) --> then multiply by 2
        if delta between (.2 to .4) --> then multiply by 4
        if delta between (.4 to .7) --> then multiply by 6
        if delta between (.7 to 1.1) --> then multiply by 10
        if delta between (1.1 to 2) --> then multiply by 20
        if delta above 2 --> then multiply by 100

In [22]:
def manhattan_delta_weighted(z_test_df,z_df):
    papers=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63]
    authors=['Hamilton','Madison']
    Y_pred=[]
    features=z_df.index
   # print('in delta')
    #print(z_test_df)
    for paper in papers:
    #feature_zscores_test[paper] = {}
       # print(paper)
        deltas=[]
        for author in authors:
            delta = 0
            for feature in features:
                
                diff= math.fabs((z_test_df[paper][feature] - z_df[author][feature]))
                #print(diff)
                if diff<.1:
                  #  print('in .1')
                    delta +=diff*.5
                elif diff>=.1 and diff<.2:
                  #  print('in .1')
                    delta +=diff*2
                elif diff>.2 and diff<.4:
                  #  print('in .1')
                    delta +=diff*4
                elif diff>=.4 and diff<.7:
                  #  print('in .1')
                    delta +=diff*6
                elif (diff>= .7) and diff<1.1:
                    #print('in .2')
                    delta += diff *10
                elif (diff>= 1.1) and diff <2:
                    #print('in 1')
                    delta += diff *20
                elif (diff>= 2) :
                    #print('in 1')
                    delta += diff *100
               # print(delta)
            delta /= len(features)
            #print( "Delta score for ", author, "is", delta)
            deltas.append(delta)
        Y_pred.append(np.argmin(deltas))
    return Y_pred

In [23]:
dict_list=df_known.sum(axis=0)
most_common_words=(df2ranking(dict_list,166))
features=list(most_common_words['index'])
print(len(features))
feat_d=df_known[features]
feat_df=pd.DataFrame(feat_d)

normal=relative_freq(feat_df)
mean_std=mean_std_fn(normal)
mean_std_df=pd.DataFrame(mean_std)
group=fed.groupby('AUTHOR')
grouped=group.sum()
absolute_feature_group=grouped[features]

relative_author=(relative_freq_profile(absolute_feature_group))

feature_zscore= feature_zscore_fn(relative_author,mean_std_df)
zscore_df=pd.DataFrame(feature_zscore)
#Test the disputted papers
check_essays=disputed_essays[features]
rel_freq=(relative_freq_check(check_essays))
feature_zscores_test=test_zscore_fn(rel_freq,mean_std_df)

zscore_test_df=pd.DataFrame(feature_zscores_test)

final_delta= manhattan_delta_weighted(zscore_test_df,zscore_df)

print(final_delta)
papers=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 62, 63]
for x in range(len(papers)):
    if (final_delta[x]==0):
        print('Paper ',papers[x], ' is mispredicted')

166
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]